<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>env</key>
	<string>dev</string>
	<key>client</key>
	<dict>
		<key>uri</key>
		<string>https://api.themoviedb.org/</string>
		<key>version</key>
		<string>3</string>
		<key>language</key>
		<string>en-US</string>
		<key>api_key</key>
		<string>1b5e156ec62bdf27f8e4a241bdcc599b</string>
		<key>endpoints</key>
		<dict>
			<key>auth</key>
			<dict>
				<key>token_new</key>
				<dict>
					<key>path</key>
					<string>/authentication/token/new</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<key>validate_with_login</key>
				<dict>
					<key>path</key>
					<string>/authentication/token/validate_with_login</string>
					<key>method</key>
					<string>POST</string>
				</dict>
				<key>session</key>
				<dict>
					<key>path</key>
					<string>/authentication/session/new</string>
					<key>method</key>
					<string>POST</string>
				</dict>
			</dict>
			<key>tv</key>
			<dict>
				<key>popular</key>
				<dict>
					<key>path</key>
					<string>/tv/popular</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<key>on_the_air</key>
				<dict>
					<key>path</key>
					<string>/tv/on_the_air</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<key>airing_today</key>
				<dict>
					<key>path</key>
					<string>/tv/airing_today</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<key>top_rated</key>
				<dict>
					<key>path</key>
					<string>/tv/top_rated</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<key>details</key>
				<dict>
					<key>path</key>
					<string>/tv/{tv_id}</string>
					<key>method</key>
					<string>GET</string>
				</dict>
			</dict>
			<key>account</key>
			<dict>
				<key>tv_favorites</key>
				<dict>
					<key>path</key>
					<string>/account/{account_id}/favorite/tv</string>
					<key>method</key>
					<string>GET</string>
				</dict>
				<key>mark_favorite</key>
				<dict>
					<key>path</key>
					<string>/account/{account_id}/favorite</string>
					<key>method</key>
					<string>POST</string>
				</dict>
				<key>details</key>
				<dict>
					<key>path</key>
					<string>/account</string>
					<key>method</key>
					<string>GET</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
